# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Env
.env
langgraph_agent/.env

# OS-specific
.DS_Store
.Trashes
*.swp
*.bak
*.log
*.tmp

# IDEs
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Jupyter Notebook
.ipynb_checkpoints

# Gemini
.geminiignore
.gemini/